body {
  font-family: 'arial', sans-serif;
  font-size: 15px;
}


h1 {
  text-color: red;
  text-background: transparent;
  text-decoration: none;
}


h2 {
  text-color: black;
  text-background: transparent;
  text-decoration: none;
}
